@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans{
  font-famil-font: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex {
  display: flex;
}
.text-primary{
  color: #FF900E;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
 
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);

}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px ;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.section-title{
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-left: 100px;
  margin-right: 70px;
}
.brand {
  font-weight: 700;
  font-size: 2rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
 
}
.nav-link{
  text-decoration: none;
}
header{
  width: 1200px;
  margin: 0 auto;
  
}
  .banner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
 
  
}
/* banner rerated styles */
.banner-content{
  max-width: 510px;
  margin: 0 auto;
  text-align: center;
  margin: 20px;
  
}
.banner-title{
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 10px;
}
.banner-description{
  margin-bottom: 20px;
}
.banner-image{
  width: 100%;
  margin-bottom: 20px;
}

main {
  max-width: 900px;
  margin: 0 auto;
 
}

main > section {
  margin-top: 50px;
}

/* team and feature related styles */
.teams{
  align-items: center;
  justify-content: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}
.team-img-container img{
  width: 100%;
}
.our-features {
  margin-left: 50px;
  max-width: 300px;
}

.feartures-description {
  margin-bottom: 30px;
}
#quick-list{
  font-weight: 500;
}
/* features section related styles */
/* .features img{
  width: 100%;
} */
 .featured-architect img {
  width: 100%;
 }
.features{
  gap: 70px;
}
#feature-section-title{
  border-left: 3px solid #FF900E;
  padding-left:  15px;
}
.feature-card{
  padding: 25px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
 .feature-title{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}
.experience-badge{
  padding: 40 42px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: -50px;
  margin-top: -50px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700 ;
}
/* facts card */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.fact-description{
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.fact-card{
  border: 1px solid #FF900E;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.fact-number{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 8px;
}
.fact-name{
  font-size: 1rem ;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsor related styles */
.sponspor-info{
  max-width: 450px;
  margin: 30px auto;
  text-align: center;
}
.sponsor-companies img {
  filter: grayscale(100%);
  width: 65%;
  /* margin-right: 100px; */
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px ;
  margin-bottom: 50px;
}
/* footer */
footer{
  max-width: 900px;
  margin: 0 auto;
  
}
.footer{
  padding: 10px;
  text-align: center;
}

/* responsive media query */
@media screen and (max-width: 500px) {
  .navbar, 
  .nav-links,
  .teams,
  .features{
    flex-direction: column;
  }
  .team-img-container, 
  .facts-container,
  .sponsor-companies
  {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container
  {
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .our-features {
    margin-left: 10px;
  }
  .experience-badge{
    margin-top: 15px;
    margin-left: 20px;
  }
}
/* medium size device */
@media screen and (min-width: 500px ) and (max-width: 900) {
  .teams,
  .features{
    flex-direction: column;

  }
  .our-features{
    margin: 30px auto;
  }
  .sponsor-companies, .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .experience-badge{
    margin-top: 15px;
    margin-left: 20px;
  }
}
